<div class="jumbotron center">
  <h1>Hey there.</h1><h1>Thanks for checking out my app!</h1>
  <p>
    <%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-default btn-lg" %>  
  </p>
</div>